.header {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  .top-banner-right-img {
    display: block;
    position: absolute;
    right: 0;
    top: 130px;
    width: 640px;
  }

  &__logo {
    display: block;
    position: relative;
    float: left;
    width: 82px;
    height: 57px;
    overflow: hidden;
    margin-top: 28px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__navigation {
    float: right;
    display: block;
    list-style: none;
    margin-top: 24px;
    width: 359px;
  }
  &__nav {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      a {
        color: #fff;
        display: block;
        position: relative;
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        font-family: $RobotoLight;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 14px;
        padding-right: 14px;
        @include box-sizing(border-box);
      }
    }
  }
  .sandwich-button {
    pointer-events: none;
    cursor: none;
    width: 40px;
    height: 40px;
    float: right;
    position: relative;
    top: -10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}