.video-section{
  position: relative;
  width: 100%;
  float: left;
  h2{
    font-size: 27px;
  }
  p{
    text-align: center;
    color: #fff;
    font-family: $LatoRegular;
    font-size: 18px;
  }
  .unity-btn{
    margin: 0 auto;
    width: 299px;
  }
  .iframe{
    width: 900px;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  iframe{
    width: 800px;
    margin: 60px auto;
    display: block;
    position: relative;
  }
}