.your-ticket{
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-color: #12141f;
    p{
    color: #dbdbdb;
    font-size: 18px;
    text-align: center;
    font-family: $LatoLight;
  }
  .wrapper{
    margin-top: 70px;
    display: block;
    float: left;
    position: relative;
    width: 100%;
    .wrapper-item{
      text-align: center;
      width: 33.3%;
      float: left;
      position: relative;
      .item{
        width: 165px;
        height: 165px;
        border-radius: 50%;
        background-color: #12141f;
        box-shadow: 0 0 43px rgba(16, 23, 37, 0.24), 0 0 29px rgba(255, 255, 255, 0.04);
        display: inline-block;
        text-align: center;
        img{
          height: 80px;
          transform: translate(0%, 50%);
        }
      }
      h3{
        margin-top: 25px;
        color: #F14E23;
        text-align: center;
        font-size: 24px;
        font-family: $LatoBold;

      }
      p{
        font-size: 16px;
        font-family: $LatoLight;
        margin-bottom: 100px;
      }
    }
  }
  blockquote{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: $LatoRegular;
    span{
      display: inline-block;
      margin-bottom: 40px;
    }

  }
  .your__ticket--article{
    margin-top: 130px;
    text-align: center;
    font-family: $LatoRegular;
    height: 559px;
    width: 400px;
    float: left;
    background-image: url("../img/waves-bg.png");
    background-size: cover;
    z-index: 1;
    p{
      padding: 50px;
      padding-bottom: 0;
      font-size: 18px;
      line-height: 26px;
    }
  }
  .img-plane{
    position: absolute;
    width: 260px;
    height: 230px;
    top: 665px;
    right: -160px;

  }
}

